@import '../../common-style/variable.scss';

.hero_header {
    position: relative;
    background-image: url(../../img/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;

    .Hero_main {
        position: relative;

        .col_content_inr {
            padding: 136px 0 200px 0;
        }

        .Heading {
            color: $White;
            text-transform: uppercase;
        }

        .heading_inr {
            display: inline-block;
            position: relative;
            z-index: 2;
        }

        .circle_text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 330px;
            height: 72px;
            object-fit: contain;
            z-index: -1;
        }

        .desc {
            color: $White;
            margin: 20px 0 40px 0;
        }

        .action_otr {
            display: flex;
        }

        .hero_img_otr {
            position: absolute;
            right: 0;
            top: 48%;
            transform: translateY(-50%);
            width: 50%;
            height: calc(100% - 100px);
        }

        .hero_img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .hero_swiper,
        .swiper-wrapper,
        .swiper-slide,
        .img_otr {
            height: 100%;
        }

        .hero_swiper {
            padding-bottom: 50px;
        }

        .swiper-slide {
            opacity: 0;
            visibility: hidden;
            transition-duration: 3000ms !important;
        }

        .swiper-slide-visible,
        .swiper-slide-active {
            opacity: 1;
            visibility: visible;
        }

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0px;
            gap: 4px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $Black-25;
            margin: 0;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $Primary-Dark;
            opacity: 1;
        }
    }
}