@import '../../common-style/variable.scss';

.hero_header {
    position: relative;
    background-image: url(../../img/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;

    .Hero_main {
        position: relative;

        .col_team_building_otr {
            margin: 128px 24px 170px 0;

            @media (max-width: 1200px) {
                margin: 48px 24px 128px 0;
            }

            @media (max-width: 992px) {
                margin: 24px 0 48px 0;
            }

            @media (max-width: 450px) {
                margin: 0 0 48px 0;
            }
        }

        .col_team_building_inr {

            .inpiration_teambuilding {
                padding: 30px 24px 24px 24px;
                border-radius: 16px;
                background-color: $Primary-Light2;
            }

            .heading_market {
                font-size: 28px;
                color: $White;
                margin-bottom: 24px;
            }

            .search_otr {
                position: relative;
                margin: 20px 0 24px 0;
            }

            .search_input {
                padding-right: 52px;
                box-shadow: none;

                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            .search_icon_otr_local {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52px;
                height: 52px;
                border-radius: 0 8px 8px 0;
                background-color: $Primary;
                cursor: pointer;
                transition: .3s;

                @media (max-width: 450px) {
                    height: 40px;
                    width: 100%;
                }

                &:hover {
                    background-color: $Primary-Dark;
                }

                @media (max-width: 1440px) {
                    border-radius: 4px;
                }
            }

            .search_icon_local {
                font-size: 24px;
                color: $White;
                background-color: transparent;
                border: none;
                outline: none;
                width: 100%;
            }

            .activity_main {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $White;
                border-radius: 8px;
                padding: 0px 0px 0px 16px;
                gap: 10px;

                @media (max-width: 450px) {
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .activity_ul {
                display: grid;
                grid-template-columns: auto auto auto auto;
                flex: 1;

                @media (max-width: 450px) {
                    width: 100%;
                    grid-template-columns: auto auto;
                }

                .activity_li {
                    &:not(:first-child) {
                        .Theme_select {
                            padding-left: 10px;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        .Theme_select {
                            @media (max-width: 450px) {
                                border-right: none;
                            }
                        }
                    }

                    @media (max-width: 450px) {
                        border-bottom: 1px solid $Black-25;

                        .Theme_select {
                            padding-left: 10px;
                        }
                    }
                }

                .Theme_select {
                    font-size: 12px;
                    font-family: $font-family-SemiBold;
                    background-color: transparent;
                    box-shadow: none;
                    border-right: 1px solid $Black-25;
                    background-position: right 0.30rem center;
                    border-radius: 0;
                    color: $Black-65;
                    padding: 6px 24px 6px 0;
                    cursor: pointer;
                }
            }

            .filter_otr {
                .Theme_select {
                    background-color: transparent;
                    font-size: $font-size-16px;
                    font-family: $font-family-SemiBold;
                    box-shadow: none;
                    border-left: 1px solid $Black-25;
                    border-radius: 0;
                    color: $Black-65;
                    padding: 6px 30px 6px 16px;
                    background-position: right 0.25rem center;
                    background-image: url(../../img/filter-icon.svg);
                    background-size: 20px 20px;
                    cursor: pointer;

                    @media (max-width: 1440px) {
                        border-left: none;
                        border-right: 1px solid $Black-25;
                        padding: 6px 40px 6px 0px;
                        background-position: right 0.65rem center;
                    }
                }
            }

            .relevent_select_otr {
                display: flex;
                align-items: center;
                justify-content: center;

                .Theme_select {
                    font-size: $font-size-16px;
                    font-family: $font-family-SemiBold;
                    width: auto;
                    box-shadow: none;
                    padding: 12px 40px 12px 24px;
                    background-color: $White;
                    color: $Black-65;
                    background-position: right 0.85rem center;
                    cursor: pointer;
                }
            }

            .activity-container {
                margin: 16px 0;
            }

            .col_inpiration_inr {
                .heading {
                    color: $Black;
                    margin-bottom: 16px;
                }

                .inspiration_ul {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 24px;

                    @media (max-width: 992px) {
                        gap: 16px;
                    }
                }

                .inspiration_btn {
                    border: none;
                    padding: 8px 16px;
                    cursor: pointer;
                    outline: none;
                }
            }
        }

        .Heading {
            color: $White;
            text-transform: uppercase;
        }

        .heading_inr {
            display: inline-block;
            position: relative;
            z-index: 2;
        }

        .circle_text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 330px;
            height: 72px;
            object-fit: contain;
            z-index: -1;
        }

        .desc {
            color: $White;
            margin: 20px 0 40px 0;
        }

        .action_otr {
            display: flex;
        }

        .hero_img_otr {
            position: absolute;
            right: 0;
            top: 48%;
            transform: translateY(-50%);
            width: 40%;
            height: calc(100% - 100px);

            @media (max-width: 1200px) {
                width: 35%;
                right: 48px;
            }

            @media (max-width: 992px) {
                position: inherit;
                width: 100%;
                right: inherit;
                top: inherit;
                transform: translateY(0);
                height: 450px;
                padding-bottom: 48px;
            }

            @media (max-width: 575px) {
                height: 400px;
            }
        }

        .hero_img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .hero_swiper,
        .swiper-wrapper,
        .swiper-slide,
        .img_otr {
            height: 100%;
        }

        .hero_swiper {
            padding-bottom: 50px;
        }

        .swiper-slide {
            opacity: 0;
            visibility: hidden;
            transition-duration: 3000ms !important;
        }

        .swiper-slide-visible,
        .swiper-slide-active {
            opacity: 1;
            visibility: visible;
        }

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0px;
            gap: 4px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $Black-25;
            margin: 0;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $Primary-Dark;
            opacity: 1;
        }
    }
}