@import '../../common-style//variable.scss';

.profile_page_main {
    .profile_img_content_main {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 24px;
        border-bottom: 1px solid $Black-10;

        .img_content_otr {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        .profile_img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            object-position: center;
        }

        .user_name {
            color: $Black;
        }

        .designation_text {
            color: $Black-65;
            font-family: $font-family-Medium;
            margin: 6px 0 12px 0;
        }

        .location_otr {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .location_icon {
            font-size: 24px;
            line-height: 24px;
            color: $Black-65;
        }

        .location_text {
            color: $Black-65;
            font-family: $font-family-Medium;
        }

        .edit_btn_otr {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: $Primary;
            color: $White;
            border-radius: 4px;
            padding: 8px 20px;
            border: none;
            outline: none;
            transition: .3s;

            &:hover {
                background-color: $Primary-Dark;
            }

            .btn_icon {
                font-size: 20px;
                line-height: 20px;
                color: $White;
            }

            .btn_text {
                color: $White;
            }
        }
    }

    .info_main {
        padding: 24px 0;
        border-bottom: 1px solid $Black-10;

        .info_heading {
            color: $Black;
            margin-bottom: 16px;
        }

        .form_main {
            margin: 0;
            padding: 0;
        }

        .info_li {
            display: flex;
            align-items: center;
            gap: 24px;

            .input-container {
                width: 100%;
                flex: 1;
            }
        }

        .input_label {
            width: 250px;
            color: $Black;
        }

        .form_input {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
    }
}