@import "../../common-style/variable.scss";


.backdrop {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.backdrop-container {
  position: fixed;
  left: 30%;
  top: 15%;
  background-color: white;
  padding: 50px;
  border-radius: 4px;
  border: 1px solid orange;
  width: 50%;
}

.error_message {
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 280px;
  font-weight: bold;
  text-align: center;
}

.success_message {
  border: 1px solid green;
  color: green;
  border-radius: 4px;
  margin: 20px 280px;
  font-weight: bold;
  text-align: center;
}

//descrition textbox
//todo: remove padding in the textbox
.description {
  height: 200px;
  text-align: start;
}


.slider-container {
  display: flex;
}

.error_message {
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  margin: 20px 80px;
  padding: 25px 40px;
  font-weight: bold;

}

.success_message {
  border: 1px solid green;
  font-weight: bold;
  color: green;
  border-radius: 4px;
  margin: 20px 80px;
  padding: 25px 40px;
}

.Register_page {
  .Register_main {
    padding: 112px 0 128px 0;
  }

  .row_custom {
    justify-content: center;
  }

  .col_form_inr {
    background-color: $Primary-Light2;
    padding: 24px 30px 30px 30px;
    border-radius: 16px;

  }

  .form_heading {
    color: $Black;
    margin-bottom: 24px;
    text-align: center;
  }

  .form_main {
    margin: 0;
  }

  .Input_otr {
    margin-bottom: 24px;
  }

  .action_otr {
    display: flex;
    margin: 36px 0 24px 0;
  }

  .form_btn {
    width: 100%;
  }

  .login_text_otr {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login_text {
    color: $Black;
    transition: 0.3s;

    &:hover {
      color: $Primary;
    }
  }
}


.add_activity_main {
  .row_custom {
    padding: 112px 0 128px 0;

    @media (max-width: 575px) {
      padding: 72px 0;
    }
  }

  .row_custom_inr1 {
    @media (max-width: 575px) {
      flex-direction: column-reverse;
    }

    .uploadd_img {
      @media (max-width: 575px) {
        height: 350px;
      }

      @media (max-width: 450px) {
        height: 250px;
      }
    }
  }

  .input_main {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 0;
    }

    .Input_otr {
      width: 50%;

      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  .col_img_inr {
    .image-uploader {
      margin-bottom: 24px;
    }

    .Input_otr {
      margin-bottom: 24px;
    }
  }
}

.img_btn_otr {
  display: flex;
  flex-direction: column;
  gap: 30px;
}